
@media only screen and (max-width:1023px) {
    /* mobile-navigation */

    .nav-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(0.3rem);
      z-index: 9998;
    }

    .mobileNav {
      top: 0;
      left: 7rem;
      right: 0;
      bottom: 0;
      position: fixed;
      background-color: rgb(15, 23, 42);
      backdrop-filter: blur(0.1rem);
      transition: transform 600ms ease-out;
      transform: translateX(-0%);
      z-index: 9999;
      padding: 10px;
    }
  
    .openNav {
      transform: translateX(100%);
    }
  
    @supports (inset: 0 0 0 0) {
      .mobileNav {
        inset: 0 7 0 0;
      }
      .nav-overlay {
        inset: 0 0 0 0;
      }
    }
  
}